.first-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.first-section-headerWrapper h1{
    font-family: Jubilat, Georgia, sans-serif;
    color: #273c48;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    line-height: 0%;
}
.first-section-headerWrapper p{
    font-family: Lato, Arial, sans-serif;
    color: #686868;
    font-size: 18px;
    text-align: center;
}


.first-section-container {

}
.first-section-container__text {
    display: inline-block;
    width: 40%;
}
.first-section-container__imageText{
    position: static;
    display: block;
    float: right;
    width: 60%;
}

.first-section-picturesWrapper a{
    text-decoration: none;
}
.first-section-picturesWrapper p{
    font-family: Lato, Arial, sans-serif;
    color: #686868;
    font-size: 18px;
}
.first-section-picturesWrapper h3{
    font-family: Jubilat, Georgia, sans-serif;
    color: #273c48;
    font-size: 33px;
}
.first-section-picturesWrapper a:hover h3{
    color: #FFC40C;
}
.first-section-picturesWrapper .first-picture{
    display: inline-block;
    width: 50%;
}
.first-section-picturesWrapper .second-picture{
    position: static;
    display: block;
    float: right;
    width: 50%;
}
.first-section-picturesWrapper img{
    background-color: #FFC40C;
    padding-bottom: 20px;
}