* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
}
.first-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.first-section-headerWrapper h1{
    font-family: Georgia;
    color: #273c48;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    margin: 40px 40px 8px 40px;
}
.first-section-headerWrapper p{
    font-family: Arial;
    color: #686868;
    font-size: 18px;
    text-align: center;
}


.first-section-container {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 500px;
}
.first-section-container__text {
    display: inline-block;
    width: 39%;
    background-color: white;
    height: 100%;
}
.first-section-container__imageText{
    display: inline-block;
    width: 59%;
    background-image: url("./../assets/girl-and-teacher.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.first-section-container__imageText h4{
    font-family: 'Brandon Grotesque';
    color: #fff;
    font-size: 13px;
}
.first-section-container__imageText a{
    text-decoration: none;
    font-family: Georgia;
    color: #fff;
    font-size: 30px;
}
.first-section-container__imageText a:hover{
    color: #FFC40C;
}


.first-section-picturesWrapper a{
    text-decoration: none;
}
.first-section-picturesWrapper p{
    font-family: Arial;
    color: #686868;
    font-size: 18px;
    margin: 20px 40px 200px 40px;
}
.first-section-picturesWrapper h3{
    font-family: Georgia;
    color: #273c48;
    font-size: 33px;
    margin: 50px 40px 0px 40px;
}
.first-section-picturesWrapper a:hover h3{
    color: #FFC40C;
}
.first-section-picturesWrapper .first-picture{
    display: inline-block;
    width: 48%;
}
.first-section-picturesWrapper .second-picture{
    display: inline-block;
    width: 48%;
}
.first-section-picturesWrapper img{
    background-color: #FFC40C;
    padding-bottom: 10px;
    margin: 0px 10px 0px 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.first-section-picturesWrapper .first-picture img{
    float: right;
}