.second-section{
    height: 400px;
    width:100%;
    margin-bottom: 200px;
}

.second-section-first-half{
    display: inline-block;
    background-color: #ffc40c;
    height: 100%;
    width: 50%;
}

.second-section-second-half{
    display: block;
    float: right;
    background-image: url("./../assets/karen-talking-to-the-manager.jpg");
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-section-first-half p{
    font-size: 40px;
    text-align: left;
    padding: 120px 120px 120px 120px;
    font-family: Georgia;
    color: #2a2a2a;
    font-weight: 100 !important;
}